@media screen and (max-width: 600px){
main{
	margin: 0px;
	display: inline;
}
.image{
	width: 100%;
	height: 40%;
	margin: 0px;
	border-radius: 15px 15px 0px 0px;
}
.container{
	margin-top: 0px;
	background-color: white;
	line-height: 1.6;
	margin: 30px;
}
.first{
	font-family: 'manrope' ,sans-serif;
	font-weight: 700;
	color: hsl(217, 19%, 35%);
	font-size: 17px;
}
.second{
	font-family: 'manrope' ,sans-serif;
	font-weight: 500;
	color: hsl(212, 23%, 69%);
	font-size: 13px;
}
.second-container{
	display: flex;
	background-color: white;
	margin-top: 30px;
}
.paragraph{
	display: inline-block;
	font-family: 'manrope' ,sans-serif;
	color: hsl(217, 19%, 35%);
	font-weight: 700;
	margin-left: 20px;
	letter-spacing: 2px;
	font-size: 13px;
	margin-bottom: 10px;
	line-height: 1.6;
}
.date{
	font-family: 'manrope' ,sans-serif;
	color: hsl(212, 23%, 69%);
}
.avatar{
	width: 60px;
	height: 60px;
	border-radius: 50%;
}
button{
	float: right;
	background-color: hsl(210, 46%, 95%);
	border: none;
	margin-left: 50px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin-top: 10px;
}
.active{
	display: block;
	height: 70px;
	background-color: hsl(217, 19%, 35%);
	border-radius: 0px 0px 15px 15px;
	display: none;
}
.share{
	display: inline-block;
	margin: 20px;
	color:hsl(212, 23%, 69%);
	letter-spacing: 3px;
	font-size: 15px;
}
.fa-brands{
	margin: 10px;
	font-size: 25px;
}
.second-button {
	margin-left: 30px;
	background-color:hsl(212, 23%, 69%);
	border-radius: 50%;
	padding: 10px;
}
}
@media screen and (min-width: 600px){
main{
	padding-top:100px;
	display: flex;
	margin: 20px;
	justify-content:center;
}
.image{
	width:40%;
	height: 300px;
	display:flex;
	justify-content:flex-start;
	border-radius: 15px 0px 0px 15px;
}
.container{
	margin-top: 0px;
	margin-left: 30px;
	background-color: white;
	line-height: 1.6;
	margin-right: 20px;
	width: 45%;
	height: 300px;
}
.first{
	font-family: 'manrope' ,sans-serif;
	font-weight: 700;
	color: hsl(217, 19%, 35%);
	font-size: 17px;
}
.second{
	font-family: 'manrope' ,sans-serif;
	font-weight: 500;
	color: hsl(212, 23%, 69%);
	font-size: 13px;
}
.second-container{
	display: flex;
	background-color: white;
	margin-top: 30px;
}
.avatar{
	width: 60px;
	height: 60px;
	border-radius: 50%;
}
.paragraph{
	display: inline-block;
	font-family: 'manrope' ,sans-serif;
	color: hsl(217, 19%, 35%);
	font-weight: 700;
	margin-left: 20px;
	letter-spacing: 2px;
	font-size: 13px;
	margin-bottom: 10px;
	line-height: 1.6;
}
button{
	float: right;
	background-color: hsl(210, 46%, 95%);
	border: none;
	margin-left: 100px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin-top: 10px;
}
.date{
	font-family: 'manrope' ,sans-serif;
	color: hsl(212, 23%, 69%);
}
.active{
	height: 80px;
	background-color: hsl(217, 19%, 35%);
	border-radius: 0px 0px 15px 15px;
	display: none;
}
.share{
	display: inline-block;
	margin: 30px;
	color:hsl(212, 23%, 69%);
	letter-spacing: 3px;
	font-size: 15px;
}
.fa-brands{
	margin: 10px;
	font-size: 25px;
}
.second-button {
	margin-left: 60px;
	background-color:hsl(212, 23%, 69%);
	border-radius: 50%;
	padding: 10px;
}
}
@media screen and (min-width: 1000px){
main{
	justify-content:center;
	padding-top:200px;
	display: flex;
	margin: 20px;
}
.image{
	width:30%;
	height: 250px;
	display:flex;
	justify-content:flex-start;
	border-radius: 15px 0px 0px 15px;
}
.container{
	margin-top: 0px;
	margin-left: 30px;
	background-color: white;
	line-height: 1.6;
	margin-right: 20px;
	width: 30%;
	height: 300px;
}
.first{
	font-family: 'manrope' ,sans-serif;
	font-weight: 700;
	color: hsl(217, 19%, 35%);
	font-size: 17px;
}
.second{
	font-family: 'manrope' ,sans-serif;
	font-weight: 500;
	color: hsl(212, 23%, 69%);
	font-size: 13px;
}
.second-container{
	display: flex;
	background-color: white;
	margin-top: 30px;
}
.avatar{
	width: 60px;
	height: 60px;
	border-radius: 50%;
}
.paragraph{
	display: inline-block;
	font-family: 'manrope' ,sans-serif;
	color: hsl(217, 19%, 35%);
	font-weight: 700;
	margin-left: 20px;
	letter-spacing: 2px;
	font-size: 13px;
	margin-bottom: 10px;
	line-height: 1.6;
}
button{
	float: right;
	background-color: hsl(210, 46%, 95%);
	border: none;
	margin-left: 100px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin-top: 10px;
}
.date{
	font-family: 'manrope' ,sans-serif;
	color: hsl(212, 23%, 69%);
}
.active{
	height: 80px;
	background-color: hsl(217, 19%, 35%);
	border-radius: 0px 0px 15px 15px;
	display: none;
}
.share{
	display: inline-block;
	margin: 30px;
	color:hsl(212, 23%, 69%);
	letter-spacing: 3px;
	font-size: 15px;
}
.fa-brands{
	margin: 10px;
	font-size: 25px;
}
.second-button {
	margin-left: 60px;
	background-color:hsl(212, 23%, 69%);
	border-radius: 50%;
	padding: 10px;
}
}
